.single-product {
  display: flex;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  width: 600px;

  h2 {
    font-size: 1.65rem;
    font-weight: 400;
    margin: 0;
    color: var(--color-primary);
    cursor: pointer;
    transition: color 0.3s;
  }

  h2:hover {
    color: var(--color-ascent);
  }

  .rating-author {
    display: flex;
    gap: 1rem;

    .stars {
      display: flex;
      align-items: center;
      gap: 2px;

      .emptyStar {
        color: var(--color-secondary);
      }

      fa-icon {
        color: var(--color-ascent);

      }
    }

    .author {
      display: flex;
      gap: 1rem;

      span {
        color: var(--color-secondary);
      }
    }
  }

  #price {
    font-size: 1.25rem;
  }

  #description {
    margin: 0;
  }
}
