<div class="single-product" *ngIf="book$ | async as book">
  <section class="image-wrapper"></section>

  <section class="product-info">
    <h2> {{ book.name }} </h2>

    <div class="rating-author">
      <div class="stars" *ngIf="averageRating$ | async as rating">
        <fa-icon
          *ngFor="let icon of getStars(rating)"
          [icon]="icon"
          [class.emptyStar]="icon === emptyStar"
        />
      </div>

      <span id="total-reviews" *ngIf="reviews$ | async as reviews">({{ reviews.length }})</span>
      <span class="author">By (author) <span>Okina Baba</span> </span>
    </div>

    <span id="price">$29.95 - $59.95</span>

    <p id="description"> {{ book.description }} </p>
  </section>
</div>